n8n-telegram-bot-workflow-fixed.json
{
  "name": "Personal AI Assistant Bot - Fixed",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Bot Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Your Telegram Bot Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.20.126:3000/api/bot/telegram",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "telegramUserId",
              "value": "={{ $node['Telegram Bot Trigger'].json['message']['from']['id'] }}"
            },
            {
              "name": "telegramChatId",
              "value": "={{ $node['Telegram Bot Trigger'].json['message']['chat']['id'] }}"
            },
            {
              "name": "message",
              "value": "={{ $node['Telegram Bot Trigger'].json['message']['text'] }}"
            }
          ]
        },
        "options": {
          "headers": {
            "Content-Type": "application/json"
          },
          "timeout": 30000
        }
      },
      "id": "process-message",
      "name": "Process Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node['Telegram Bot Trigger'].json['message']['chat']['id'] }}",
        "text": "={{ $node['Process Message'].json['reply'] }}",
        "options": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-reply",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        650,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials", 
          "name": "Your Telegram Bot Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Process Message'].json['reply'] }}",
              "operation": "contains",
              "value2": "error"
            }
          ]
        }
      },
      "id": "check-for-errors",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node['Telegram Bot Trigger'].json['message']['chat']['id'] }}",
        "text": "Sorry, I encountered an error. Please try again or contact support.",
        "options": {}
      },
      "id": "send-error-reply",
      "name": "Send Error Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        650,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Your Telegram Bot Token"
        }
      }
    }
  ],
  "connections": {
    "Telegram Bot Trigger": {
      "main": [
        [
          {
            "node": "Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Send Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-21T12:00:00.000Z",
  "versionId": "1"
}
